@mixin button_design($bg, $color) {
	@include flex-center;
	background-color: $bg;
	border-bottom: 0.4rem solid $color;
}

button {
	border: none;
	@include button_design($lightYellow, $lightYellowHover);
	border-radius: 1rem;
	color: black;
	padding: 1rem;
	font-weight: bold;
	width: 100%;
	&:hover {
		cursor: pointer;
		border-bottom-color: $lightYellow;
		background-color: $lightYellowHover;
	}
}

.blue {
	@include button_design($lightBlue, $lightBlueHover);
	&:hover {
		@include button_design($lightBlueHover, $lightBlue);
	}
}
.reset {
	background-color: $silver;
	color: $darkNavy;
	border-bottom: 0.25rem solid $silverHover;
	width: fit-content;
	height: fit-content;
	padding: 1rem;
	&:hover {
		background-color: $silverHover;
		border-bottom-color: $silver;
	}
}

.turn {
	background-color: $semiDarkNavy;
	color: $silver;
	border-bottom: 0.25rem solid $darkNavyHover;
	width: fit-content;
	height: fit-content;
	padding: 0.5rem 1.5rem;
	border-radius: 0.5rem;
	margin: 0 auto;
	transform: translateX(-40%);
	&:hover {
		background-color: $darkNavyHover;
		border-bottom-color: $semiDarkNavy;
	}
}

.game_grid button {
	@include flex-center;
	padding: 0;
	margin: 0;
	border-radius: 0;
	width: 100%;
	aspect-ratio: 1;
	border-radius: 1rem;
	text-align: center;
	background-color: $semiDarkNavy;
	border-bottom: 0.5rem solid $darkNavyHover;
}

.game_grid button svg {
	transform: scale(0.75);
}
