body {
	justify-content: flex-start;
}

main {
	max-width: 350px;
}

header {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	padding: 1rem;
	align-items: center;
	width: 100%;
}

header h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	padding: 0;
	margin: 0;
}

header h1 svg {
	transform: scale(0.5);
}

.reset {
	background-color: var(--silver);
	color: var(--darkNavy);
	border-bottom: 0.5rem solid var(--silverHover);
	width: fit-content;
	height: fit-content;
	padding: 1rem;
	border-bottom: 0.25rem solid var(--silverHover);
}

.turn {
	background-color: var(--semiDarkNavy);
	color: var(--silver);
	width: fit-content;
	height: fit-content;
	padding: 0.5rem 1.5rem;
	border-radius: 0.5rem;
	border-bottom: 0.25rem solid var(--darkNavyHover);
	margin: 0 auto;
	transform: translateX(-40%);
}

.game_grid {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	width: 100%;
	gap: 2rem;
}

.game_grid ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 1rem;
	padding: 0;
	width: 100%;
}

.game_grid button {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0;
	width: 100%;
	aspect-ratio: 1;
	border-radius: 1rem;
	text-align: center;
	background-color: var(--semiDarkNavy);
	border-bottom: 0.5rem solid var(--darkNavyHover);
}

.game_grid button svg {
	transform: scale(0.75);
}

.game_grid .svg {
	transform: scale(0.75);
}

.score {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-evenly;
	gap: 1rem;
	width: 100%;
}

.score > div {
	background-color: var(--lightBlue);
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	min-width: fit-content;
	width: 100%;
	padding: 0.25rem 1rem;
	border-radius: 1rem;
	color: var(--darkNavy);
	font-weight: bold;
}

.score div:nth-child(2) {
	background-color: var(--silver);
}

.score div:last-child {
	background-color: var(--lightYellow);
}
